*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #251d36 !important;
}

input {
  border: 1px solid black;
  padding: 10px 15px;
  border-radius: 14px;
}

input:focus {
  outline: none;
  border: 1px solid black;
}
